<h1 class="category-title"> <%= @category.title %> </h1>

<% if current_user %>
  <h3 class="create-article"><%= link_to "Create An Article", new_category_article_path(@category) %></h3>
<% end %>

  <% @category.articles.each do |article| %>
    <h3><%= link_to "#{article.title}", category_article_path(@category.id, article.id) %></h3>
  <% end %>
